{{- $serverIp := promptStringOnce . "sirojulanam_server_ip" "Sirojulanam server IP" -}}
{{- $serverPort := promptIntOnce . "sirojulanam_server_port" "Sirojulanam server SSH port" -}}

[data]
    sirojulanam_server_ip = {{ $serverIp | quote }}
    sirojulanam_server_port = {{ $serverPort }}
