[data]
    dakhilgate_server_ip = {{ if eq .chezmoi.hostname "ThinkPad-X280" }}{{ promptStringOnce . "dakhilgate_server_ip" "DakhilGate server IP" | quote }}{{ else }}{{ "" | quote }}{{ end }}
    sirojulanam_server_ip = {{ if eq .chezmoi.hostname "ThinkPad-X280" }}{{ promptStringOnce . "sirojulanam_server_ip" "Sirojulanam server IP" | quote }}{{ else }}{{ "" | quote }}{{ end }}
    sirojulanam_server_port = {{ if eq .chezmoi.hostname "ThinkPad-X280" }}{{ promptIntOnce . "sirojulanam_server_port" "Sirojulanam server SSH port" }}{{ else }}{{ 0 }}{{ end }}
