Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3

Host github.com
  IdentityFile ~/.ssh/github
  AddKeysToAgent yes

Host gitlab.com
  HostName gitlab.com
  User git
  IdentityFile ~/.ssh/gitlab_sirojulanam

{{ if eq .chezmoi.hostname "ThinkPad-X280" }}
Host 103.87.67.155
  HostName 103.87.67.155
  Port 2200
  User sirojulanam
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  ServerAliveCountMax 3

Host 103.150.227.134
  HostName 103.150.227.134
  User dkgate
  IdentityFile ~/.ssh/dakhilgate.pem
  ServerAliveInterval 60
  ServerAliveCountMax 3
{{ end }}
