Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3

Host github.com
  IdentityFile ~/.ssh/github
  AddKeysToAgent yes

Host gitlab.com
  HostName gitlab.com
  User git
  IdentityFile ~/.ssh/gitlab

Host myvps
  HostName {{ .myvps_ip }}
  User anifyuli
  IdentityFile ~/.ssh/vps

{{ if eq .chezmoi.hostname "ThinkPad-X280" }}
Host {{ .sirojulanam_server_ip }}
  HostName {{ .sirojulanam_server_ip }}
  Port {{ .sirojulanam_server_port }}
  User sirojulanam
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  ServerAliveCountMax 3

Host gitlab-sirojulanam
  HostName gitlab.com
  User git
  IdentifyFile ~/.ssh/gitlab_sirojulanam
{{ end }}
