[env]
GOBIN = "{{ env "HOME" }}/.local/bin"
GOPATH = "{{ env "HOME" }}/.go"
OPENCODE_DISABLE_FFF=1

[bootstrap.hooks.pre-packages]
run = [
  "chmod +x ~/.local/bin/mise-ensure-repo",
  "mise-ensure-repo terra",
  "command -v flatpak >/dev/null && sudo flatpak remote-add --system --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo",
  "command -v flatpak >/dev/null && sudo flatpak remote-add --system --if-not-exists flatpark https://dl.flatpark.org/flatpark.flatpakrepo",
  "mise-ensure-repo gh-rpm:alexandrehtrb/Pororoca",
{{ if eq .chezmoi.hostname "ThinkPad-L15G2a" }}
  "mise-ensure-repo remi",
  "mise-ensure-repo remi-module:remi-8.3",
  "mise-ensure-repo docker-ce",
{{ end }}
]

[bootstrap.packages]
"dnf:nvim"  = "latest"
"dnf:tmux"  = "latest"
"dnf:kitty" = "latest"
"dnf:zed-preview" = "latest"
"flatpak:cc.arduino.IDE2" = "latest"
"flatpak:com.dbxio.dbx"   = "latest"
{{ if eq .chezmoi.hostname "ThinkPad-L15G2a" }}
"dnf:composer" = "latest"
"dnf:containerd.io" = "latest"
"dnf:docker-buildx-plugin" = "latest"
"dnf:docker-ce" = "latest"
"dnf:docker-ce-cli" = "latest"
"dnf:docker-compose-plugin" = "latest"
"dnf:php" = "latest"
"dnf:php-cli" = "latest"
"dnf:php-fpm" = "latest"
"dnf:php-mbstring" = "latest"
"dnf:php-xml" = "latest"
"dnf:php-mysqlnd" = "latest"
"dnf:php-pgsql" = "latest"
"dnf:php-gd" = "latest"
"dnf:php-bcmath" = "latest"
"dnf:php-pecl-zip" = "latest"
"dnf:php-opcache" = "latest"
"dnf:php-sodium" = "latest"
"dnf:nginx" = "latest"
"dnf:postgresql" = "latest"
"dnf:postgresql-server" = "latest"
"dnf:android-studio-stable" = "latest"

[bootstrap.hooks.post-packages]
run = [
  "sudo systemctl daemon-reload",
  "sudo systemctl enable --now docker",
]
{{ end }}

[tools]
flutter = "latest"
go      = "latest"
{{ if eq .chezmoi.hostname "ThinkPad-L15G2a" }}
gradle = "latest"
java   = "openjdk-21"
{{ end }}
node   = "latest"
opencode = "latest"
pnpm   = "latest"
yarn   = "latest"
usage  = "latest"
uv     = "latest"

{{ if eq .chezmoi.hostname "ThinkPad-L15G2a" }}
# Github backend
"github:phpactor/phpactor" = "latest"
{{ end }}

# Go backend
"go:golang.org/x/tools/gopls" = "latest"
"go:mvdan.cc/gofumpt"         = "latest"

{{ if eq .chezmoi.hostname "ThinkPad-L15G2a" }}
# Go pentest tools
"go:github.com/ffuf/ffuf/v2"                                      = "latest"
"go:github.com/projectdiscovery/interactsh/cmd/interactsh-client" = "latest"
"go:github.com/projectdiscovery/nuclei/v3/cmd/nuclei"             = "latest"
"go:github.com/projectdiscovery/subfinder/v2/cmd/subfinder"       = "latest"
{{ end }}

# npm packages
"npm:@mistweaverco/kulala-ls"   = "latest"
"npm:@mistweaverco/kulala-fmt"  = "latest"
"npm:@nestjs/cli"               = "latest"
"npm:prettier"                  = "latest"
"npm:httpyac"                   = "latest"
"npm:eas-cli"                   = "latest"

[settings]
experimental = true
node.corepack = true
npm.package_manager = "npm"
